@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}
html{
  font-size:62.5%;
/*   overflow:hidden; */
}
a{
  text-decoration:none;
  color:currentcolor;
}
body{
  background:#eee;
}
.container{
  max-width:1200px;
  margin:0 auto;
  padding:3rem 2rem;
}
.title{
  font-size:3.5rem;
  color:#444;
  text-transform:uppercase;
  text-align:center;
  margin-bottom:3rem;
}
.products-container{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(30rem, 1fr));
  gap:2rem;
}
.products{
  text-align:center;
  padding:3rem 2rem;
  background:#fff;
  box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);
  outline:0.1rem solid #ccc;
  outline-offset:-1.5rem;
  cursor:pointer;
  transition:all 0.4s;
}
.products:hover{
  outline:0.2rem solid #222;
  outline-offset:0;
}
.products img{
  height:25rem;
}
.products:hover img{
  transform:scale(0.9);
}
.products h3{
  padding:0.5rem 0;
  font-size:2rem;
  color:#444;
}
.products:hover h3{
  color:#27ae60;
}
.products .price{
  color:#444;
  font-size:2.5rem;
}

.products-preview{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  min-height:100vh;
  background:rgba(0,0,0,0.8);
  display:none;
  align-items:center;
  justify-content:center;
}
.preview{
  display:none;
  padding:2rem;
  text-align:center;
  background:#fff;
  position:relative;
  margin:2rem;
  width:40rem;
}
.preview img{
  height:20rem;
}
.preview .fa-times{
  position:absolute;
  top:1rem;
  right:1.5rem;
  cursor:pointer;
  color:#444;
  font-size:4rem;
  transition:all 0.4s;
}
.preview .fa-times:hover{
  transform:rotate(90deg);
}
.preview h3{
  color:#444;
  padding:.5rem 0;
  font-size:2.5rem;
}
.preview .stars{
  padding:1rem 0;
  font-size:1.7rem;
}
.preview .stars i{
  color:#27ae60;
}
.preview p{
  line-height:1.5;
/*   padding:1rem 0; */
  font-size:1.6rem;
  color:#777;
}
.preview .price{
/*   padding:0.5rem 0; */
  font-size:2.5rem;
  color:#27ae60;
}
.preview .buttons{
  display:flex;
  gap:1.5rem;
  flex-wrap:wrap;
  margin-top:1rem;
}
.preview .buttons a{
  flex:1 1 16rem;
  padding:1rem;
  font-size:1.8rem;
  color:#444;
  border:0.1rem solid #444;
  transition:all 0.3s;
}
.preview .buttons a.card{
  background:#444;
  color:#fff;
}
.preview .buttons a.card:hover{
  background:#111;
}
.preview .buttons a.buy:hover{
  background:#444;
  color:#fff;
}
.preview.active{
  display:inline-block;
}